# Ignore virtual environment
venv/
pygame_env/
*.venv
env/
__pycache__/

# Ignore model weights and training memory
model/model.pth
memory.pkl

# Ignore Python cache files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore log files and system files
*.log
.DS_Store
Thumbs.db

# Ignore training graphs (optional)
training_progress.png
